<div>
    <div class="pageHeader">猜你喜欢</div>
    <div class="pageBody discoveryBody">
            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/css.jpg" alt=""/>
                        <h4>CSS揭秘</h4>
                    </a>
                </div>
            </div>

            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/ES6.jpg" alt=""/>
                        <h4>ES6入门</h4>
                    </a>
                </div>
            </div>

            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/js.jpg" alt=""/>
                        <h4>javascript高级程序设计</h4>
                    </a>
                </div>
            </div>

            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/zhou.jpg" alt=""/>
                        <h4>周恩来传</h4>
                    </a>
                </div>
            </div>

            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/live.jpg" alt=""/>
                        <h4>活着</h4>
                    </a>
                </div>
            </div>

            <div class="guess">
                <div class="item">
                    <a>
                        <img src="images/shui.jpg" alt=""/>
                        <h4>水浒传</h4>
                    </a>
                </div>
            </div>
    </div>
    <page-nav selected-index="2"></page-nav>
</div>