<div>
    <div class="pageHeader"><a href="#/mine" class="fa fa-mail-reply login-back" href="#"></a>个人中心</div>
    <div class="page-body-container">
        <img class="header" src="images/timg.jpg" alt=""/>

        <ul class="readerInfo">
            <li><span>昵称：</span>Star</li>
            <li><span>性别：</span>男</li>
            <li><span>年龄：</span>保密</li>
            <li><span>电话：</span>18856167898</li>
            <li><span>地址：</span>方圆几里</li>
        </ul>

        <button ng-click="exit()" class="exit">注销</button>
    </div>
</div>