<div>
    <div class="pageHeader"><a class="fa fa-mail-reply login-back" href="#/pageCode"></a>重置密码</div>
    <div class="page-body-container">
        <form name="frm" novalidate>
            <div class="inputs">
                <i class="fa fa-key"></i><input ng-model="newPwd" name="newPwd" required pattern="\d{4}" type="text" placeholder="请输入新密码"/>
                <div class="phone-error" ng-show="flag||frm.newPwd.$dirty && frm.newPwd.$invalid">
                    <div ng-show="frm.newPwd.$error.required">密码不能为空</div>
                    <div ng-show="frm.newPwd.$error.pattern">密码格式不正确</div>
                </div>
                <!--<i class="fa fa-key"></i>-->
                <i class="fa fa-key"></i><input name="rePwd" ng-model="rePwd" required pattern="\d{4}" type="text" placeholder="请输入确认密码"/>
                <div class="password-error" ng-show="frm.rePwd.$dirty">
                    <div ng-show="rePwd!=newPwd">两次密码不一致</div>
                </div>
            </div>
            <button ng-click="submitPassword()" class="submit">提交</button>
        </form>
    </div>
</div>